/* css styles */

div.quarto-about-solana .about-entity .about-links {
    flex-direction: row;
    column-gap: 0.5em;
    width: 100%;
    padding-bottom: 1.5em;
    flex-wrap: wrap;
}

::marker {
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 0px !important;
    text-align: start !important;
    text-align-last: start !important;
    color:#fff;
}